Package: makelive
Version: 2.4.9
Architecture: all
Maintainer: Robert Key robkey@mighty.co.za
Depends: subversion, git, initialise-linux, editfstab
Section: myown
Priority: optional
Description: makelive.pl builds a live ubuntu system 1st and second parition of a disk drive.
